<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Favorite Medium" %></title>

    <%= stylesheet_link_tag "base" %>
    <%= javascript_include_tag  "modernizr-2.7.1.min" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  </head>

  <body class="loading">
    <%= yield %>

    <%= javascript_include_tag  "all" %>
  </body>
</html>