--- 
title: Favorite Medium 
---
<main>
    <section id="slide-1" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
            <div class="hsContainer">
                <div class="hsContent" data-anchor-target="#slide-1 h2">
                    <h2>We Create Digital Products</h2>
                    <h4>with tangible purpose</h4>
                    <p>
                        <img src="http://www.favoritemedium.com/images/5bbb5428.logo.png" alt="">
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-2">
        <div class="bcg" data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent">
                    <!-- <h2 data-anchor-target="#slide-2 h2">Our Process</h2> -->
                    <div data-anchor-target="#slide-2 div">
                        <div class="col-md-8 center">
                            <svg id="process" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="584.0424px" height="144.92px" viewBox="0 0 730.053 181.15" enable-background="new 0 0 730.053 181.15" xml:space="preserve">
                                <g id="Guide" display="none">
                                </g>
                                <g id="pathmarker" display="none">
                                    <path display="inline" fill="none" stroke="#000000" stroke-miterlimit="10" d="M159.54,91.65h120" />
                                    <path display="inline" fill="none" stroke="#000000" stroke-miterlimit="10" d="M448.54,91.65h120" />
                                </g>
                                <g id="process">
                                    <g id="circles">
                                        <g id="arc">
                                            <path id="right_x5F_arc" fill="none" stroke="#E63B7C" stroke-width="10" stroke-miterlimit="10" d="M76.882,19
                                                c39.797,0,72,32.203,72,72s-32.203,72-72,72" />
                                            <path id="left_x5F_arc" fill="none" stroke="#A92346" stroke-width="10" stroke-miterlimit="10" d="M77,163.15
                                                c-39.797,0-72-32.203-72-72s32.203-72,72-72" />
                                            <polygon id="arrow_x5F_pointing_x5F_right" fill="#A92346" points="102.441,18.575 86.22,27.363 70,36.15 70,18.575 70,1 
                                                86.22,9.788             " />
                                            <polygon id="arrow_x5F_pointing_x5F_left" fill="#E63B7C" points="51.441,163.575 67.72,154.788 84,146 84,163.575 84,181.15 
                                                67.72,172.363           " />
                                        </g>
                                        <g id="arc_1_">
                                            <path id="right_x5F_arc_1_" fill="none" stroke="#E63B7C" stroke-width="10" stroke-miterlimit="10" d="M365.988,18
                                                c39.797,0,72,32.203,72,72s-32.203,72-72,72" />
                                            <path id="left_x5F_arc_1_" fill="none" stroke="#A92346" stroke-width="10" stroke-miterlimit="10" d="M366.106,162.15
                                                c-39.797,0-72-32.203-72-72s32.203-72,72-72" />
                                            <polygon id="arrow_x5F_pointing_x5F_right_1_" fill="#A92346" points="391.547,17.575 375.326,26.363 359.106,35.15 
                                                359.106,17.575 359.106,0 375.326,8.788          " />
                                            <polygon id="arrow_x5F_pointing_x5F_left_1_" fill="#E63B7C" points="340.547,162.575 356.826,153.788 373.106,145 
                                                373.106,162.575 373.106,180.15 356.826,171.363          " />
                                        </g>
                                        <g id="arc_2_">
                                            <path id="right_x5F_arc_2_" fill="none" stroke="#E63B7C" stroke-width="10" stroke-miterlimit="10" d="M653.053,18.85
                                                c39.797,0,72,32.203,72,72s-32.203,72-72,72" />
                                            <path id="left_x5F_arc_2_" fill="none" stroke="#A92346" stroke-width="10" stroke-miterlimit="10" d="M653.171,163
                                                c-39.797,0-72-32.203-72-72s32.203-72,72-72" />
                                            <polygon id="arrow_x5F_pointing_x5F_right_2_" fill="#A92346" points="678.612,18.425 662.391,27.213 646.171,36 646.171,18.425 
                                                646.171,0.85 662.391,9.638          " />
                                            <polygon id="arrow_x5F_pointing_x5F_left_2_" fill="#E63B7C" points="627.612,163.425 643.891,154.638 660.171,145.85 
                                                660.171,163.425 660.171,181 643.891,172.213             " />
                                        </g>
                                    </g>
                                    <g id="Arrow">
                                        <polyline id="arrow1" fill="#109DC0" points="179.54,83.15 179.54,100.45 179.54,100.15 222.54,100.15 222.54,100.45 222.54,109.214 
                                            222.54,109.185 264.747,91.173 222.803,73.213 222.495,82.15 179.54,82.15         " />
                                        <polyline id="arrow2" fill="#109DC0" points="467.54,83.15 467.54,100.45 467.54,100.15 510.54,100.15 510.54,100.45 510.54,109.214 
                                            510.54,109.185 552.747,91.173 510.803,73.213 510.495,82.15 467.54,82.15         " />
                                    </g>
                                    <g id="Text">
                                        <text transform="matrix(1 0 0 1 41.1542 69.2126)">
                                            <tspan x="0" y="0" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Design</tspan>
                                            <tspan x="9.654" y="29.554" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Build</tspan>
                                            <tspan x="14.604" y="59.107" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Test</tspan>
                                        </text>
                                        <text transform="matrix(1 0 0 1 330.2605 69.2127)">
                                            <tspan x="0" y="0" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Design</tspan>
                                            <tspan x="9.654" y="29.554" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Build</tspan>
                                            <tspan x="14.604" y="59.107" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Test</tspan>
                                        </text>
                                        <text transform="matrix(1 0 0 1 617.2074 67.0903)">
                                            <tspan x="0" y="0" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Design</tspan>
                                            <tspan x="9.654" y="29.554" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Build</tspan>
                                            <tspan x="14.604" y="59.107" fill="#4D4D4D" font-family="'MyriadPro-Regular'" font-size="24.6282">Test</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col-md-4 lead-text">
                            <h3>We iterate</h3>
                            <p>Rather than doing all of one thing at a time... Scrum teams do a little of everything all the time</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-3" class="homeSlide">
        <div class="bcg" data-anchor-target="#slide-3">
            <div class="hsContainer">
                <div class="hsContent">
                    <br>
                    <br>
                    <h2 data-anchor-target="#slide-3 h2">We Collaborate</h2>
                    <div data-anchor-target="#slide-3 h2">
                        <svg version="1.1" id="collaborate" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
                            <circle id="fm" fill="none" stroke="#A92346" stroke-width="6" stroke-miterlimit="10" cx="201.226" cy="172.341" r="56.596" />
                            <circle id="client" fill="none" stroke="#109DC0" stroke-width="6" stroke-miterlimit="10" cx="155.587" cy="228.937" r="56.596" />
                            <circle id="users" fill="none" stroke="#E63B7C" stroke-width="6" stroke-miterlimit="10" cx="243.797" cy="228.937" r="56.596" />
                            <line id="rightline" fill="none" x1="200" y1="172" x2="200" y2="10" />
                            <line id="leftline" fill="none" x1="155.587" y1="228.938" x2="9.704" y2="374.82" />
                            <line id="middleline" fill="none" x1="243.797" y1="228.938" x2="390.604" y2="375.745" />
                            <text id="fmtext" transform="matrix(1 0 0 1 194.4707 100.4121)" fill="#FFF" font-family="'MyriadPro-Regular'" font-size="12">FM</text>
                            <text id="clienttext" transform="matrix(1 0 0 1 62.1177 250.1768)" fill="#FFF" font-family="'MyriadPro-Regular'" font-size="12">Client</text>
                            <text id="userstext" transform="matrix(1 0 0 1 306.5293 250.1768)" fill="#FFF" font-family="'MyriadPro-Regular'" font-size="12">Users</text>
                        </svg>
                        <span data-target-el="#slide-3"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-4" class="homeSlide">
        <div class="bcg" data-anchor-target="#slide-4">
            <div class="hsContainer">
                <div class="hsContent">
                    <br>
                    <br>
                    <h2 data-anchor-target="#slide-4 h2">Featured Work</h2>
                    <div data-anchor-target="#slide-4 h2">
                        <div class="work-list">
                            <div class="col-md-2 item">
                                <img src="http://fm-site.favoritemedium.net/wp-content/uploads/2015/01/1411680026417-Intellian_thumbnail.jpg">
                            </div>
                            <div class="col-md-2 item">
                                <img src="http://fm-site.favoritemedium.net/wp-content/uploads/2015/01/1379906859579-starcount.jpg">
                            </div>
                            <div class="col-md-2 item">
                                <img src="http://fm-site.favoritemedium.net/wp-content/uploads/2015/01/mtv-asia.jpg">
                            </div>
                            <div class="col-md-2 item">
                                <img src="http://fm-site.favoritemedium.net/wp-content/uploads/2015/01/zandari.jpg">
                            </div>
                            <div class="col-md-2 item">
                                <img src="http://fm-site.favoritemedium.net/wp-content/uploads/2015/01/trello-android.jpg">
                            </div>
                            <div class="col-md-2 item">
                                <img src="http://fm-site.favoritemedium.net/wp-content/uploads/2015/01/college-abacus.jpg">
                            </div>
                        </div>
                    </div>
                    <span data-target-el="#slide-4"></span>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-5" class="homeSlide">
        <div class="bcg" data-anchor-target="#slide-5">
            <div class="hsContainer">
                <div class="hsContent">
                    <br>
                    <br>
                    <h2 data-anchor-target="#slide-5 h2">Lets get Started</h2>
                </div>
            </div>
        </div>
    </section>
</main>
